@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="file"]):not([type="hidden"]),
    select,
    textarea {
        border-width: 1px;
        border-color: #d1d5db;
        border-radius: 0.5rem;
    }
}